<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Trang chủ | IDNE - Admin &amp; Dashboard Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../../favicon.svg">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../../../assets/vendor/icon-set/style.css">
    <link rel="stylesheet" href="../../../assets/vendor/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="../../../assets/vendor/chart.js/dist/Chart.min.css">
    <link rel="stylesheet" href="../../../assets/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="../../../assets/vendor/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    

    <!-- CSS Fis Template -->
    <link rel="stylesheet" href="../../../assets/css/theme.min.css">
  </head>

  <body class="has-navbar-vertical-aside navbar-vertical-aside-show-xl   footer-offset">
    
      <script src="../../../assets/vendor/hs-navbar-vertical-aside/hs-navbar-vertical-aside-mini-cache.js"></script>
    

    <!-- Search Form -->
    <div id="searchDropdown" class="hs-unfold-content dropdown-unfold search-fullwidth d-md-none">
      <form class="input-group input-group-merge input-group-borderless">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="tio-search"></i>
          </div>
        </div>

        <input class="form-control rounded-0" type="search" placeholder="Search in Fis" aria-label="Search in Fis">

        <div class="input-group-append">
          <div class="input-group-text">
            <div class="hs-unfold">
              <a class="js-hs-unfold-invoker" href="javascript:;"
                 data-hs-unfold-options='{
                   "target": "#searchDropdown",
                   "type": "css-animation",
                   "animationIn": "fadeIn",
                   "hasOverlay": "rgba(46, 52, 81, 0.1)",
                   "closeBreakpoint": "md"
                 }'>
                <i class="tio-clear tio-lg"></i>
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- End Search Form -->

    <!-- ========== HEADER ========== -->
    
      <header id="header" class="navbar navbar-expand-lg navbar-fixed navbar-height navbar-flush navbar-container navbar-bordered">
      </header>
    

    

    
    <!-- ========== END HEADER ========== -->

    <!-- ========== MAIN CONTENT ========== -->
    <!-- Navbar Vertical -->
    
    <aside id="verticalMenu" class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered  ">
    </aside>
    

    
    <!-- End Navbar Vertical -->

    <main id="content" role="main" class="main">
        <!-- Content -->
        <div class="content container-fluid">
          <div class="row justify-content-lg-center">
            <div class="col-sm mb-2 mb-sm-0">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb breadcrumb-no-gutter">
                    <li class="breadcrumb-item" data-toggle="modal" data-target="#staticBackdrop"><a class="breadcrumb-link">Kế hoạch</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Tạo kế hoạch</li>
                  </ol>
                </nav>
                
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div style="width: 340px;height: 158px;" class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <button style="margin-left: 9.5rem;" type="button" class="btn btn-xs btn-pill btn-icon btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
                        <i class="tio-clear tio-lg"></i>
                      </button>
                      <div class="modal-header">
                        <h5 class="modal-title text-center" id="staticBackdropLabel" style="margin-left: 3.5rem;">Bạn có muốn thoát ra ngoài</h5>
                      </div>
                      <div class="modal-body">
                        <p style="margin-left: 2.5rem;">Mọi dữ liệu bạn đã nhập sẽ bị mất</p>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width: 140px;height: 40px;">Thoát</button>
                        <button type="button" class="btn" style="background-color: #064D69;color: white;width: 140px;height: 40px;">Lưu file và thoát</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Modal -->
  
                <h1 class="page-title">Tạo kế hoạch mua sắm</h1>
              </div>
  
              <div class="dropdown" style="margin-top: 1.5rem;">
                <a class="btn btn-white dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Tạo kế hoạch mua sắm
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown-menu">
                  <a class="dropdown-item" href="Add_KeHoach_CTX.html">Tạo kế hoạch chi thường xuyên</a>
                  <a class="dropdown-item active" href="Add_KeHoach_NCMS.html">Tạo kế hoạch mua sắm</a>
                  <a class="dropdown-item" href="Add_KeHoach_K.html">Tạo kế hoạch khác</a>
                </div>
              </div>
              </div>
              <!-- End Profile Header -->
  
              <!-- Nav -->
              <div class="js-nav-scroller hs-nav-scroller-horizontal mb-5">
                <span class="hs-nav-scroller-arrow-prev" style="display: none;">
                    <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                      <i class="tio-chevron-left"></i>
                    </a>
                  </span>
    
                  <span class="hs-nav-scroller-arrow-next" style="display: none;">
                    <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                      <i class="tio-chevron-right"></i>
                    </a>
                  </span>
                <ul class="nav nav-tabs align-items-center">
                  <li class="nav-item">
                    <a class="nav-link active" href="Add_KeHoach_NCMS.html">Thông tin chung</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="Add_KeHoach_NCMS_HH_s1.html">Thông tin hàng hoá</a>
                  </li>
                </ul>
              </div>
              <!-- End Nav -->
  
              <div class="content container-fluid">
               <div class="col-lg-11">        
                <form style="margin-left: 5rem; margin-right: 5rem;" class="js-step-form py-md-0" id="stepForm"
                    data-hs-step-form-options='{
                      "progressSelector": "#addUserStepFormProgress",
                      "stepsSelector": "#addUserStepFormContent",
                      "endSelector": "#addUserFinishBtn",
                      "isValidate": true
                    }'>
                <!-- Step -->
                <ul id="addUserStepFormProgress" class="js-step-progress step step-sm step-icon-sm step step-inline step-item-between mb-3 mb-md-5">
                      <li class="step-item">
                        <a class="step-content-wrapper" href="#addDuAn;"
                           data-hs-step-form-next-options='{
                            "targetSelector": "#addDuAn"
                          }'>
                          <span class="step-icon step-icon-soft-dark">01</span>
                          <div class="step-content">
                            <small><span class="step-title" style="color: black;">Thông tin cơ bản của KHLCNT</span></small>
                          </div>
                        </a>
                      </li>
                      <li class="step-item">
                        <a class="step-content-wrapper" href="#addPheDuyet;"
                           data-hs-step-form-next-options='{
                            "targetSelector": "#addPheDuyet"
                          }'>
                          <span class="step-icon step-icon-soft-dark">02</span>
                          <div class="step-content">
                            <small><span class="step-title">Thông tin quyết định phê duyệt</span></small>
                          </div>
                        </a>
                      </li>
                      <li class="step-item">
                        <a class="step-content-wrapper" href="#addXacNhan;"
                           data-hs-step-form-next-options='{
                            "targetSelector": "#addXacNhan"
                          }'>
                          <span class="step-icon step-icon-soft-dark">03</span>
                          <div class="step-content">
                            <small><span class="step-title">Xác nhận thông tin</span></small>
                          </div>
                        </a>
                      </li>
                </ul>
                <!-- End Step -->
                <div class="row justify-content-lg-center hs-nav-scroller-unfold">
                  <div class="col-lg-11">
                    <!-- Content Step Form -->
                    <div id="addUserStepFormContent">
                      <!-- Card -->
                      <div id="addDuAn" class="card card-lg active js-validate">
                        <div class="card-header">
                          <div class="card-header-title mr-2" style="color: black;">Thông tin cơ bản của KHLCNT</div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                          <!-- Form Group -->
                          <div class="row form-group">
                            <label class="col-sm-3 col-form-label input-label" for="MaLabel" style="color: #595959;">Tên KHLCNT<span style="color: red;">*</span></label>
      
                            <div class="col-sm-9">
                              <div class="d-flex align-items-center input-group input-group-sm-down-break">
                                  <input type="text" class="form-control col-form-label" required>
                              </div>
                            </div>
                          </div>
                          <!-- End Form Group -->
      
                          <!-- Form Group -->
                          <div class="row form-group">
                            <label for="firstNameLabel" class="col-sm-3 col-form-label input-label" style="color: #595959;">Bên mời thầu</label>
      
                            <div class="col-sm-9 js-form-message">
                              <div class="input-group input-group-sm-down-break">
                                <input type="text" class="form-control col-form-label input-group-light" placeholder="Công ty TNHH MTV Điện lực Hà Nội" disabled>
                              </div>
                            </div>
                          </div>
                          <!-- End Form Group -->
      
                          <!-- Form Group -->
                          <div class="row form-group">
                            <label for="TenDALabel" class="col-sm-3 col-form-label input-label" style="color: #595959;">Phạm vi điều chỉnh</label>
      
                            <div class="col-sm-9">
                                <select class="js-select2-custom" disabled
                                  data-hs-select2-options='{
                                  "minimumResultsForSearch": "Infinity",
                                  "placeholder":"Chọn"
                                  }'>
                                  <option value="1">LCNT trong phạm vi</option>
                                  <option value="2" selected>LCNT ngoài phạm vi</option>
                                  <option value="3">Lựa chọn nhà đầu tư</option>
                                </select>
                            </div>
                          </div>
                          <!-- End Form Group -->
                          
                          <!-- Form Group -->
                          <div class="row form-group">
                            <label for="NguonVonLabel" class="col-sm-3 col-form-label input-label" style="color: #595959;">Tên dự toán mua sắm<span style="color: red;">*</span></label>
      
                            <div class="col-sm-9">
                              <input type="text" class="form-control" name="NguonVon" id="NguonVonLabel" required>
                            </div>
                          </div>
                          <!-- End Form Group -->
      
                          <!-- Form Group -->
                          <div class="row form-group">
                            <label for="ChuDTLabel" class="col-sm-3 col-form-label input-label" style="color: #595959;">Dự toán mua sắm</label>
      
                            <div class="col-sm-9">
                              <input type="number" class="form-control" name="ChuDauTu" id="ChuDTLabel">
                            </div>
                          </div>
                          <!-- End Form Group -->
                          
                          <!-- Form Group -->
                          <div class="js-add-field row form-group">
                            <label for="phoneLabel" class="col-sm-3 col-form-label input-label">Số tiền bằng chữ</label>
      
                            <div class="col-sm-9">
                              <div class="input-group input-group-sm-down-break align-items-center">
                                    <input type="text" class="js-masked-input form-control" name="vnd" id="vndLabel">
                              </div>
                            </div>
                          </div>
                          <!-- End Form Group -->
      
                          <!-- Form Group -->
                          <div class="js-add-field row form-group">
                            <label for="phoneLabel" class="col-sm-3 col-form-label input-label">Người có thẩm quyền<span style="color: red;">*</span></label>
      
                            <div class="col-sm-9">
                              <div class="input-group input-group-sm-down-break align-items-center">
                                    <input type="text" class="js-masked-input form-control" name="vnd" id="vndLabel" required>
                              </div>
                            </div>
                          </div>
                          <!-- End Form Group -->
      
                          <!-- Form Group -->
                          <div class="js-add-field row form-group">
                            <label for="phoneLabel" class="col-sm-3 col-form-label input-label">Tên tổ chức thẩm định<span style="color: red;">*</span></label>
      
                            <div class="col-sm-9">
                              <div class="input-group input-group-sm-down-break align-items-center">
                                    <input type="text" class="js-masked-input form-control" name="vnd" id="vndLabel" required>
                              </div>
                            </div>
                          </div>
                          <!-- End Form Group -->
      
                          <!-- Form Group -->
                          <div class="row form-group">
                            <label for="ChuDTLabel" class="col-sm-3 col-form-label input-label" style="color: #595959;">Ngày báo cáo thẩm định<span style="color: red;">*</span></label>
      
                            <div class="col-sm-9">
                                <div style="width: 266px;height: 40px;">
                                    <input type="date" class="form-control" name="ChuDauTu" id="ChuDTLabel" required>
                                </div> 
                            </div>
                          </div>
                          <!-- End Form Group -->
      
                          <!-- Form Group -->
                          <div class="js-add-field row form-group">
                            <label for="phoneLabel" class="col-sm-3 col-form-label input-label">Tổ chức, cá nhân giám sát, theo dõi hoạt động đấu thầu</label>
      
                            <div class="col-sm-9">
                              <div class="input-group input-group-sm-down-break align-items-center">
                                    <input type="text" class="js-masked-input form-control" name="vnd" id="vndLabel">
                              </div>
                            </div>
                          </div>
                          <!-- End Form Group -->

                            <!-- Form Group -->
                          <div class="row">
                            <label for="ChuDTLabel" class="col-sm-3 col-form-label input-label" style="color: #595959;">Số lượng gói thầu<span style="color: red;">*</span></label>
      
                            <div class="col-sm-9">
                              <div class="input-group input-group-sm-down-break align-items-center">
                                    <input type="number" class="js-masked-input form-control" name="ChuDT" id="ChuDTLabel">
                              </div>
                            </div>
                          </div>
                          <!-- End Form Group -->
      
                          <!-- Form Group -->
                          <!-- <div class="row form-group">
                            <label class="col-sm-3 col-form-label input-label" style="color: #595959;">Có sử dụng vốn ODA ?</label>
          
                                <div class="col-sm-9">
                                  <div class="input-group input-group-sm-down-break align-items-center">
                                    <div class="col-sm-6 form-control">
                                      <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="userAccountTypeRadio" id="userAccountTypeRadio1">
                                        <label style="color: #BFBFBF;" class="custom-control-label" for="userAccountTypeRadio1">Có</label>
                                      </div>
                                    </div>
                                    <label class="col-sm-1 col-form-label input-label"></label>
                                    <div class="col-sm-6 form-control">
                                      <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="userAccountTypeRadio" id="userAccountTypeRadio1">
                                        <label style="color: #BFBFBF;" class="custom-control-label" for="userAccountTypeRadio1">Không</label>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                          </div> -->
                          <!-- End Form Group -->
                        </div>
                        <!-- End Body -->
                      </div>
                      <!-- End Card -->
      
                      <div id="addPheDuyet" class="card card-lg js-validate" style="display: none;">
                        <div class="card-header">
                          <div class="card-header-title" style="color: black;">Thông tin cơ bản của KHLCNT</div>
                        </div>
                        <!-- Body -->
                        <div class="card-body">
                          <!-- Form Group -->
                          <div class="js-add-field row form-group">
                            <label for="phoneLabel" class="col-sm-3 col-form-label input-label">Số quyết định phê duyệt KHLCNT<i style="color: red;">*</i></label>
      
                            <div class="col-sm-9">
                              <div class="input-group input-group-sm-down-break align-items-center">
                                <input type="text" class="js-masked-input form-control" name="vnd" id="vndLabel" required>
                              </div>
                            </div>
                          </div>
                          
                          <!-- Form Group -->
                          <div class="js-add-field row form-group">
                            <label for="phamviLabel" class="col-sm-3 col-form-label input-label">Cơ quan ra quyết định<i style="color: red;">*</i></label>
      
                            <div class="col-sm-9">
                              <div class="input-group input-group-sm-down-break align-items-center">
                                <input type="text" class="js-masked-input form-control" name="phamvi" id="phamviLabel" required>
                              </div>
                            </div>
                          </div>
                          <!-- End Form Group -->
      
                          <!-- Form Group -->
                          <div class="js-add-field row form-group">
                            <label for="vnd1Label" class="col-sm-3 col-form-label input-label">Ngày phê duyệt KHLCNT<i style="color: red;">*</i></label>
      
                            <div class="col-sm-9">
                              <div class="input-group input-group-sm-down-break align-items-center">
                                  <div class="input-group-append">
                                    <!-- Flatpickr -->
                                    <input type="text" class="js-flatpickr form-control flatpickr-custom" placeholder="dd/MM/yy" required
                                        data-hs-flatpickr-options='{
                                        "dateFormat": "d/m/Y"
                                        }'>
                                    <!-- End Flatpickr -->
                                  </div>
                              </div>
                            </div>
                          </div>
                          <!-- End Form Group -->
      
      
                          <!-- Form Group -->
                          <div class="js-add-field row form-group">
                            <label for="quyetdinhLabel" class="col-sm-3 col-form-label input-label">Quyết định phê duyệt<i style="color: red;">*</i></label>
      
                            <div class="col-sm-9">
                                <form>
                                    <div class="custom-file">
                                      <input type="file" class="js-file-attach custom-file-input" id="customFile"
                                              data-hs-file-attach-options='{
                                                "textTarget": "[for=\"customFile\"]"
                                             }' required>
                                      <label class="custom-file-label" for="customFile">Chọn tệp đính kèm</label>
                                    </div>
                                </form>
                            </div>
                          </div>
                          <!-- End Form Group -->
                        </div>
                        <!-- End Body -->
                      </div>
                    
                    <div id="addXacNhan" class="card card-lg" style="display: none;">
                      <!-- Card -->
                      <div class="card">
                        <div class="card-header">
                          <h5 class="card-title" style="margin-left: 1.5ex;">Xác nhận thông tin</h5>
                        </div>
                      
                        <!-- Table -->
                        <div class="table-responsive">
                          
                          <table id="basicDatatable1" class="table table-thead-bordered table-nowrap table-align-middle card-table">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col" style="color: black;width: 257px;height: 40px;">Thông tin kế hoạch</th>
                                <th style="width: 780px;height: 40px;"></th>
                              </tr>
                            </thead>
                      
                            <tbody>       
                              <tr>
                                <td>
                                  <span>Số dự án</span>
                                </td>
                                <td>
                                  <span>0459458459495</span>
                                </td>
                              </tr>
                      
                              <tr>
                                <td>
                                  <span>Tên dự án</span>
                                </td>
                                <td>
                                  <span>01</span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          
                          <table id="basicDatatable2" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col" style="color: black;width: 257px;height: 40px;">Thông tin cơ bản của KHLCNT</th>
                                <th style="width: 780px;height: 40px;"></th>
                              </tr>
                            </thead>
                      
                            <tbody>
                              <tr>
                                <td>
                                  <span>Tên KHLCNT</span>
                                </td>
                                <td>
                                  <span>Nâng cấp hạ tầng viễn thông 5G</span>
                                </td>
                              </tr>
                      
                              <tr>
                                <td>
                                  <span>Phạm vi điều chỉnh</span>
                                </td>
                                <td>
                                  <span>Trong phạm vi điều chỉnh của luật đấu thầu</span>
                                </td>
                              </tr>
                      
                              <tr>
                                <td>
                                  <span>Tên dự toán mua sắm</span>
                                </td>
                                <td>
                                  <span>Mua sắm nâng cấp thiết bị viễn thông</span>
                                </td>
                              </tr>
                      
                              <tr>
                                <td>
                                  <span>Dự toán mua sắm</span>
                                </td>
                                <td>
                                  <span>123,000,000  VND</span>
                                </td>
                              </tr>
                      
                              <tr>
                                <td>
                                  <span>Số tiền bằng chữ</span>
                                </td>
                                <td>
                                  <span>Một trăm hai mươi ba triệu đồng</span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          
                          <table id="basicDatatable3" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col" style="width: 257px;height: 40px;color: black;">Thông tin tổng mức đầu tư</th>
                                <th style="width: 780px;height: 40px;"></th>
                              </tr>
                            </thead>
                      
                            <tbody>
                              <tr>
                                <td>
                                  <span>Số quyết định phê duyệt</span>
                                </td>
                                <td>
                                  <span>412512612412</span>
                                </td>
                              </tr>
                      
                              <tr>
                                <td>
                                  <span>Cơ quan ra quyết định</span>
                                </td>
                                <td>
                                  <span>Phòng tài chính - kế toán</span>
                                </td>
                              </tr>
                      
                              <tr>
                                <td>
                                  <span>Người có thẩm quyền</span>
                                </td>
                                <td>
                                  <span>Lê Văn Hải</span>
                                </td>
                              </tr>
                              
                              <tr>
                                <td>
                                  <span>Tên tổ chức thẩm định</span>
                                </td>
                                <td>
                                  <span>Phòng đánh giá chất lượng</span>
                                </td>
                              </tr>

                              <tr>
                                <td>
                                  <span>Ngày phê duyệt KHLCNT</span>
                                </td>
                                <td>
                                  <span>23/04/2020</span>
                                </td>
                              </tr>
                      
                              <tr>
                                <td>
                                  <span>Quyết định phê duyệt</span>
                                </td>
                                <td>
                                  <h3><span class="badge badge-soft-secondary badge-pill">QuyetdinhDautu2020.....pdf</span></h3>
                                </td>
                              </tr>

                              <tr>
                                <td>
                                  <span>Ngày báo cáo thẩm định</span>
                                </td>
                                <td>
                                  <span>22/05/2020</span>
                                </td>
                              </tr>

                              <tr>
                                <td>
                                  <span>Tên tổ chức, cá nhân giám sát, theo<p>dõi hoạt động đấu thầu</p></span>
                                </td>
                                <td>
                                  <span>Phòng hành chính</span>
                                </td>
                              </tr>

                              <tr>
                                <td>
                                  <span>Số lượng gói thầu</span>
                                </td>
                                <td>
                                  <span>04</span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <!-- End Table -->
                      </div>
                      <!-- End Card -->
                    </div>
                    <!-- End Content Step Form -->
                  </div>
                </div>
                <!-- End Row -->
                    </form>
                </div>
              </div>
              <!-- End Row -->
            </div>
          </div>
          <!-- End Row -->
        </div>
        <!-- End Content -->
  
        <!-- Footer -->
        
        <div class="nav-divider"></div>

        <!-- Footer -->
          <div class=" page-footer" id="addUserFinishBtn">
            <div class="row justify-content-between align-items-center">
              <div class="col" style="margin-left: 13rem;">
                <button id="btnReturn" type="button" class="btn btn-pill"><i class="tio-back-ui"></i> Quay lại</button>
              </div>
              <div class="col-auto" style="margin-right: 21.5rem;">
                <button style="margin-right: 5px;" style="background-color: #F5F5F5;" type="submit" id="btnLuu" class="btn btn-white" >Lưu<i style="margin-left: 3px;" class="tio-save-outlined"></i></button>
                <button style="background-color: #064D69; border-color: #064D69;" type="button" id="btnNext" class="btn btn-primary"
                data-hs-step-form-prev-options='{
                  "targetSelector": "#addTongMuc"
                }'>
                  Tiếp tục<i class="tio-next-ui" style="margin-left: 1ex;"></i>
                </button>
              </div>
            </div>
          </div>
        
  
        
        <!-- End Footer -->
      </main>
    <!-- ========== END MAIN CONTENT ========== -->
    <!-- Go to -->
    <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
       data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
       "init": {
       "right": 32
       },
       "show": {
       "bottom": 32
       },
       "hide": {
       "bottom": -32
       }
      }
     }'>
     <i class="tio-chevron-up"></i>
    </a>
    <!-- End Go to -->

    <!-- JS Global Compulsory  -->
    <script src="../../../assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../../../assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="../../../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="../../../assets/vendor/hs-navbar-vertical-aside/hs-navbar-vertical-aside.min.js"></script>
    <script src="../../../assets/vendor/hs-unfold/dist/hs-unfold.min.js"></script>
    <script src="../../../assets/vendor/hs-form-search/dist/hs-form-search.min.js"></script>
    <script src="../../../assets/vendor/select2/dist/js/select2.full.min.js"></script>
    <script src="../../../assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="../../../assets/vendor/chart.js.extensions/chartjs-extensions.js"></script>
    <script src="../../../assets/vendor/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js"></script>
    <script src="../../../assets/vendor/daterangepicker/moment.min.js"></script>
    <script src="../../../assets/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="../../../assets/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="../../../assets/vendor/datatables.net.extensions/select/select.min.js"></script>
    <script src="../../../assets/vendor/clipboard/dist/clipboard.min.js"></script>
    <script src="../../../assets/vendor/hs-step-form/dist/hs-step-form.min.js"></script>
    <script src="../../../assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="../../../assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="../../../assets/vendor/sortablejs/Sortable.min.js"></script>
    <script src="../../../assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="../../../assets/vendor/hs-file-attach/dist/hs-file-attach.min.js"></script>
    <script src="../../../assets/vendor/hs-go-to/dist/hs-go-to.min.js"></script>

    

    <!-- JS Fis -->
    <script src="../../../assets/js/theme.min.js"></script>

    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {

        // initialization of form search
        $('.js-form-search').each(function () {
          new HSFormSearch($(this)).init()
        });

        // initialization of select2
        $('.js-select2-custom').each(function () {
          var select2 = $.HSCore.components.HSSelect2.init($(this));
        });

        // initialization of chartjs
        Chart.plugins.unregister(ChartDataLabels);

        $('.js-chart').each(function () {
          $.HSCore.components.HSChartJS.init($(this));
        });

        var updatingChart = $.HSCore.components.HSChartJS.init($('#updatingData'));

        // Call when tab is clicked
        $('[data-toggle="chart-bar"]').click(function(e) {
          let keyDataset = $(e.currentTarget).attr('data-datasets')

         if (keyDataset === 'lastWeek') {
           updatingChart.data.labels = ["Apr 22", "Apr 23", "Apr 24", "Apr 25", "Apr 26", "Apr 27", "Apr 28", "Apr 29", "Apr 30", "Apr 31"];
           updatingChart.data.datasets = [
             {
               "data": [120, 250, 300, 200, 300, 290, 350, 100, 125, 320],
               "backgroundColor": "#1890FF",
               "hoverBackgroundColor": "#1890FF",
               "borderColor": "#1890FF"
             },
             {
               "data": [250, 130, 322, 144, 129, 300, 260, 120, 260, 245, 110],
               "backgroundColor": "#e7eaf3",
               "borderColor": "#e7eaf3"
             }
           ];
           updatingChart.update();
         } else {
           updatingChart.data.labels = ["May 1", "May 2", "May 3", "May 4", "May 5", "May 6", "May 7", "May 8", "May 9", "May 10"];
           updatingChart.data.datasets = [
             {
               "data": [200, 300, 290, 350, 150, 350, 300, 100, 125, 220],
               "backgroundColor": "#1890FF",
               "hoverBackgroundColor": "#1890FF",
               "borderColor": "#1890FF"
             },
             {
               "data": [150, 230, 382, 204, 169, 290, 300, 100, 300, 225, 120],
               "backgroundColor": "#e7eaf3",
               "borderColor": "#e7eaf3"
             }
           ]
           updatingChart.update();
         }
        })

        // initialization of bubble chartjs with Datalabels plugin
        $('.js-chart-datalabels').each(function () {
          $.HSCore.components.HSChartJS.init($(this), {
            plugins: [ChartDataLabels],
            options: {
              plugins: {
                datalabels: {
                  anchor: function(context) {
                    var value = context.dataset.data[context.dataIndex];
                    return value.r < 20 ? 'end' : 'center';
                  },
                  align: function(context) {
                    var value = context.dataset.data[context.dataIndex];
                    return value.r < 20 ? 'end' : 'center';
                  },
                  color: function(context) {
                    var value = context.dataset.data[context.dataIndex];
                    return value.r < 20 ? context.dataset.backgroundColor : context.dataset.color;
                  },
                  font: function(context) {
                    var value = context.dataset.data[context.dataIndex],
                      fontSize = 25;

                    if (value.r > 50) {
                      fontSize = 35;
                    }

                    if (value.r > 70) {
                      fontSize = 55;
                    }

                    return {
                      weight: 'lighter',
                      size: fontSize
                    };
                  },
                  offset: 2,
                  padding: 0
                }
              }
            },
          });
        });

        // initialization of daterangepicker
        $('.js-daterangepicker').daterangepicker();

        $('.js-daterangepicker-times').daterangepicker({
          timePicker: true,
          startDate: moment().startOf('hour'),
          endDate: moment().startOf('hour').add(32, 'hour'),
          locale: {
            format: 'M/DD hh:mm A'
          }
        });

        var start = moment();
        var end = moment();

        function cb(start, end) {
          $('#js-daterangepicker-predefined .js-daterangepicker-predefined-preview').html(start.format('MMM D') + ' - ' + end.format('MMM D, YYYY'));
        }

        $('#js-daterangepicker-predefined').daterangepicker({
          startDate: start,
          endDate: end,
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          }
        }, cb);

        cb(start, end);

        // initialization of datatables
        var datatable = $.HSCore.components.HSDatatables.init($('#datatable'), {
          select: {
            style: 'multi',
            selector: 'td:first-child input[type="checkbox"]',
            classMap: {
              checkAll: '#datatableCheckAll',
              counter: '#datatableCounter',
              counterInfo: '#datatableCounterInfo'
            }
          },
          language: {
            zeroRecords: '<div class="text-center p-4">' +
                '<img class="mb-3" src="./assets/svg/illustrations/sorry.svg" alt="Image Description" style="width: 7rem;">' +
                '<p class="mb-0">No data to show</p>' +
                '</div>'
          }
        });

        $('.js-datatable-filter').on('change', function() {
          var $this = $(this),
            elVal = $this.val(),
            targetColumnIndex = $this.data('target-column-index');

          datatable.column(targetColumnIndex).search(elVal).draw();
        });

        $('#datatableSearch').on('mouseup', function (e) {
          var $input = $(this),
            oldValue = $input.val();

          if (oldValue == "") return;

          setTimeout(function(){
            var newValue = $input.val();

            if (newValue == ""){
              // Gotcha
              datatable.search('').draw();
            }
          }, 1);
        });

        // initialization of clipboard
        $('.js-clipboard').each(function() {
          var clipboard = $.HSCore.components.HSClipboard.init(this);
        });
        // initialization of step form
        $('.js-step-form').each(function () {
          var stepForm = new HSStepForm($(this), {
            finish: function() {
              $("#addUserStepFormProgress").hide();
              $("#addUserStepFormContent").hide();
              $("#addUserFinishBtn").show();
            }
          }).init();
        });
      });
    

    </script>
    <script>
      $(document).on('ready', function () {
        // initialization of flatpickr
        $('.js-flatpickr').each(function () {
          $.HSCore.components.HSFlatpickr.init($(this));
        });
      });
    </script>
    <script>
      $(document).on('ready', function () {
        // initialization of sortable
        $('.js-sortable').each(function () {
          var sortable = $.HSCore.components.HSSortable.init($(this));
        });
      });
    </script>
    <script>
      $(document).on('ready', function () {
        // initialization of form validation
        $('.js-validate').each(function() {
          $.HSCore.components.HSValidation.init($(this));
        });
      });
    </script>
    <script>
      $(document).on('ready', function () {
        // initialization of custom file
        $('.js-file-attach').each(function () {
          var customFile = new HSFileAttach($(this)).init();
        });
      });
    </script>
    <script>
      $(document).on('ready', function () {
        $.HSCore.components.HSFlatpickr.init($('#js-flatpickr-disabling-dates'), {
          disable: [
            function (date) {
              // return true to disable
              return (date.getDay() === 0 || date.getDay() === 6);
            }
          ],
        });
      });
    </script>
    <script>
      $(document).on('ready', function () {
        // initialization of scroll nav
        $('.js-scroll-nav').each(function () {
          var scrollNav = new HSScrollNav($(this)).init();
        });
      });
    </script>
    <script>
    $(document).on('ready', function () {
      // initialization of form validation
      $('.js-validate').each(function() {
        $.HSCore.components.HSValidation.init($(this));
      });
  
      // initialization of step form
      $('.js-step-form').each(function () {
        var stepForm = new HSStepForm($(this), {
          finish: function() {
            $("#addUserStepFormProgress").hide();
            $("#addUserStepFormContent").hide();
            $("#addUserFinishBtn").show();
          }
        }).init();
      });
    });
    </script>
    <script>
        $(document).on('ready', function () {
          // initialization of go to
          $('.js-go-to').each(function () {
            var goTo = new HSGoTo($(this)).init();
          });
        });
    </script>
    <script>
      $("#header").load("../../../Layout/Element/Header/HeaderEGP.html");
      $("#verticalMenu").load("../../../Layout/Element/Sidebar/Submenu.html");
    </script>
    <!-- IE Support -->
    <script>
      if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="./assets/vendor/babel-polyfill/polyfill.min.js"><\/script>');
    </script>
  </body>
</html>