<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Trang chủ | IDNE - Admin &amp; Dashboard Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="./favicon.svg">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../../../assets/vendor/icon-set/style.css">
    <link rel="stylesheet" href="../../../assets/vendor/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="../../../assets/vendor/chart.js/dist/Chart.min.css">
    <link rel="stylesheet" href="../../../assets/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="../../../assets/vendor/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="../../../assets/vendor/hs-sticky-header/src/hs.sticky-header.css">
    

    

    <!-- CSS Fis Template -->
    <link rel="stylesheet" href="../../../assets/css/theme.min.css">

  </head>

  <body class="has-navbar-vertical-aside navbar-vertical-aside-show-xl   footer-offset"
        data-offset="80"
        data-hs-scrollspy-options='{
        "target": "#navbarSettings"
        }'>
    
      <script src="../../../assets/vendor/hs-navbar-vertical-aside/hs-navbar-vertical-aside-mini-cache.js"></script>

    <!-- ========== HEADER ========== -->
    
      <header id="header" class="navbar navbar-expand-lg navbar-fixed navbar-height navbar-flush navbar-container navbar-bordered">
      </header>
    

    

    
    <!-- ========== END HEADER ========== -->

    <!-- ========== MAIN CONTENT ========== -->
    <!-- Navbar Vertical -->
    
      
    <aside id="verticalMenu" class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered  ">
    </aside>
    

    
    <!-- End Navbar Vertical -->

    <main id="content" role="main" class="main">
        <!-- Content -->
        <div class="content container-fluid">
          <div class="row justify-content-lg-center">
            <div class="col-sm mb-2 mb-sm-0">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb breadcrumb-no-gutter">
                    <li class="breadcrumb-item" data-toggle="modal" data-target="#staticBackdrop"><a class="breadcrumb-link">Kế hoạch</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Tạo kế hoạch</li>
                  </ol>
                </nav>
                
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div style="width: 340px;height: 158px;" class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <button style="margin-left: 9.5rem;" type="button" class="btn btn-xs btn-pill btn-icon btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
                        <i class="tio-clear tio-lg"></i>
                      </button>
                      <div class="modal-header">
                        <h5 class="modal-title text-center" id="staticBackdropLabel" style="margin-left: 3.5rem;">Bạn có muốn thoát ra ngoài</h5>
                      </div>
                      <div class="modal-body">
                        <p style="margin-left: 2.5rem;">Mọi dữ liệu bạn đã nhập sẽ bị mất</p>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width: 140px;height: 40px;">Thoát</button>
                        <button type="button" class="btn" style="background-color: #064D69;color: white;width: 140px;height: 40px;">Lưu file và thoát</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Modal -->
  
                <h1 class="page-title">Tạo kế hoạch chi thường xuyên</h1>
              </div>
  
              <div class="dropdown" style="margin-top: 1.5rem;">
                <a class="btn btn-white dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Tạo kế hoạch chi thường xuyên
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown-menu">
                  <a class="dropdown-item active" href="Add_KeHoach_CTX.html">Tạo kế hoạch chi thường xuyên</a>
                  <a class="dropdown-item" href="Add_KeHoach_NCMS.html">Tạo kế hoạch mua sắm</a>
                  <a class="dropdown-item" href="Add_KeHoach_K.html">Tạo kế hoạch khác</a>
                </div>
              </div>
              </div>
              <!-- End Profile Header -->
  
              <!-- Nav -->
              <div class="js-nav-scroller hs-nav-scroller-horizontal mb-5">
                <span class="hs-nav-scroller-arrow-prev" style="display: none;">
                    <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                      <i class="tio-chevron-left"></i>
                    </a>
                  </span>
    
                  <span class="hs-nav-scroller-arrow-next" style="display: none;">
                    <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                      <i class="tio-chevron-right"></i>
                    </a>
                  </span>
                <ul class="nav nav-tabs align-items-center">
                  <li class="nav-item">
                    <a class="nav-link" href="Add_KeHoach_CTX.html">Thông tin chung</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="Add_KeHoach_CTX_GT.html">Thông tin gói thầu</a>
                  </li>
                </ul>
              </div>
              <!-- End Nav -->
              <div class="col-lg-11">
                <!-- Step Form -->
                <form class="js-step-form"
                      data-hs-step-form-options='{
                        "progressSelector": "#basicStepFormProgress",
                        "stepsSelector": "#basicStepFormContent",
                        "endSelector": "#addPlanFinishBtn"
                      }'>
                  <!-- Step -->
                 <div class="col-lg-6" style="left: 46ex;">
                  <ul id="basicStepFormProgress" class="center js-step-progress step step-sm step-icon-sm step-inline step-item-between mb-7">
                    <li class="step-item">
                      <a class="step-content-wrapper" href="Add_KeHoach_CTX_GT.html"
                         data-hs-step-form-next-options='{
                          "targetSelector": "#"
                        }'>
                        <span class="step-icon step-icon-soft-dark">1</span>
                        <div class="step-content">
                          <span class="step-title">Thông tin gói thầu</span>
                        </div>
                      </a>
                    </li>
                
                    <li class="step-item">
                      <a class="step-content-wrapper" href="Add_KeHoach_CTX_GT2.html"
                         data-hs-step-form-next-options='{
                           "targetSelector": "#basicStepTerms"
                         }'>
                        <span class="step-icon step-icon-soft-dark">2</span>
                        <div class="step-content">
                          <span class="step-title">Xác nhận thông tin</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                  <!-- End Step -->
                 </div>
                  <!-- Content Step Form -->
                  <div id="basicStepFormContent">
                
                    <div style="margin-left: 12ex;margin-right: 3ex;" class="card active">
                      <!-- Header -->
                      <div class="card-header">
                          <h4 class="card-header-title">Danh sách gói thầu</h4>
                      </div>
                      <!-- End Header -->
            
                      <!-- Table -->
                      <div class="table-responsive datatable-custom">
                        <table id="datatable" class="table table-borderless table-hover table-thead-bordered card-table"
                               data-hs-datatables-options='{
                                 "autoWidth": false,
                                 "columnDefs": [{
                                    "targets": [0, 6],
                                    "orderable": false
                                  }],
                                 "columns": [
                                    null,
                                    null,
                                    { "width": "35%" },
                                    null,
                                    null,
                                    null,
                                    null
                                  ],
                                 "order": [],
                                 "info": {
                                   "totalQty": "#datatableWithPaginationInfoTotalQty"
                                 },
                                 "search": "#datatableSearch",
                                 "entries": "#datatableEntries",
                                 "pageLength": 15,
                                 "isResponsive": false,
                                 "isShowPaging": false,
                                 "pagination": "datatablePagination"
                               }'>
                          <thead class="thead-light">
                            <tr>
                              <th scope="col" class="table-column-pr-0 text-center" style="width: 48px;height: 40px;">STT</th>
                              <th scope="col" style="width: 138px;height: 40px;">Mã gói thầu</th>
                              <th scope="col" style="width: 168px;height: 40px;">Tên gói thầu</th>
                              <th scope="col" style="width: 148px;height: 40px;">Giá gói thầu</th>
                              <th scope="col" style="width: 158px;height: 40px;">Có nhiều phần/lô</th>
                              <th scope="col" style="width: 138px;height: 40px;">Trạng thái</th>
                              <th scope="col" style="width: 188px;height: 40px;">Số thông báo liên kết</th>
                              <th scope="col" class="table-column-pr-0" style="width: 188px;margin-right: 19ex;" ><span style="margin-left: 6ex;">Thao tác</span></th>
                            </tr>
                          </thead>
            
                          <tbody>
                            <tr>
                              <td class="table-column-pr-0 text-center">1</td>
                              <td class="table-column-pr-0"><a href="#">1452881667234</a></td>
                              <td>Điều tra thi công</td>
                              <td>10,000,000,000,000</td>
                              <td>
                                <span>Có</span>
                              </td>
                              <td style="margin-left: ex;">
                                <span class="badge badge-soft-primary badge-pill" style="margin-left: 3ex;">Mới</span>
                              </td>
                              <td>1861548913 - Đã hủy</td>
                              <td>
                                <a class="icon tio-new-message" href="#" style="color: black;"></a>
                                <a class="icon tio-publish" href="#" style="color: black;"></a>
                                <a class="icon tio-delete-outlined" href="#" style="color: black;"></a>
                              </td>
                            </tr>
            
                            <tr>
                              <td class="table-column-pr-0 text-center" >2</td>
                              <td class="table-column-pr-0"><a href="#">1452881667234</a></td>
                              <td>Điều tra thi công</td>
                              <td>10,000,000,000,000</td>
                              <td>
                                <span>Có</span>
                              </td>
                              <td>
                                <span class="badge badge-soft-primary badge-pill" style="margin-left: 3ex;">Mới</span>
                              </td>
                              <td>1861548913 - Đã hủy</td>
                              <td>
                                <a class="icon tio-new-message" href="#" style="color: black;"></a>
                                <a class="icon tio-publish" href="#" style="color: black;"></a>
                                <a class="icon tio-delete-outlined" href="#" style="color: black;"></a>
                              </td>
                            </tr>
            
                            <tr>
                              <td class="table-column-pr-0 text-center">3</td>
                              <td class="table-column-pr-0"><a href="#">1452881667234</a></td>
                              <td>Điều tra thi công</td>
                              <td>10,000,000,000,000</td>
                              <td>
                                <span>Có</span>
                              </td>
                              <td>
                                <span class="badge badge-soft-primary badge-pill" style="margin-left: 3ex;">Mới</span>
                              </td>
                              <td>1861548913 - Đã hủy</td>
                              <td>
                                <a class="icon tio-new-message" href="#" style="color: black;"></a>
                                <a class="icon tio-publish" href="#" style="color: black;"></a>
                                <a class="icon tio-delete-outlined" href="#" style="color: black;"></a>
                              </td>
                            </tr>
            
                            <tr>
                              <td class="table-column-pr-0 text-center">4</td>
                              <td class="table-column-pr-0"><a href="#" style="margin-left: 3ex;">1452881667234</a></td>
                              <td>Điều tra thi công</td>
                              <td>10,000,000,000,000</td>
                              <td>Có</td>
                              <td>
                                <span class="badge badge-soft-primary badge-pill" style="margin-left: 3ex;">Mới</span>
                              </td>
                              <td>1861548913 - Đã hủy</td>
                              <td>
                                <a class="icon tio-new-message" href="#" style="color: black;"></a>
                                <a class="icon tio-publish" href="#" style="color: black;"></a>
                                <a class="icon tio-delete-outlined" href="#" style="color: black;"></a>
                              </td>
                            </tr>
            
                            <tr>
                              <td class="table-column-pr-0 text-center">5</td>
                              <td class="table-column-pr-0"><a href="#" >1452881667234</a></td>
                              <td>Điều tra thi công</td>
                              <td>10,000,000,000,000</td>
                              <td>
                                <span>Có</span>
                              </td>
                              <td>
                                <span class="badge badge-soft-primary badge-pill" style="margin-left: 3ex;">Mới</span>
                              </td>
                              <td>1861548913 - Đã hủy</td>
                              <td>
                                <a class="icon tio-new-message" href="#" style="color: black;"></a>
                                <a class="icon tio-publish" href="#" style="color: black;"></a>
                                <a class="icon tio-delete-outlined" href="#" style="color: black;"></a>
                              </td>
                            </tr>
            
                          </tbody>
                        </table>
                      </div>
                      <!-- End Table -->
                    </div>
                    <!-- End Card -->
                    </div>
                  </div>
                  <!-- End Content Step Form -->
                </form>
                <!-- End Step Form -->
              </div>
            </div>
          </div>
          <!-- End Row -->
        </div>
        <!-- End Content -->
  
        <!-- Footer -->
        
        <div class="nav-divider"></div>

        <!-- Footer -->
          <div class=" page-footer" id="addPlanFinishBtn">
            <div class="row justify-content-between align-items-center">
              <div class="col" style="margin-left: 9rem;">
                <button id="btnReturn" type="button" class="btn btn-pill"><i class="tio-back-ui"></i> Quay lại</button>
              </div>
              <div class="col-auto" style="margin-right: 13rem;">
                <button style="margin-right: 5px;" style="background-color: #F5F5F5;" type="submit" id="btnLuu" class="btn btn-white" >Lưu<i style="margin-left: 3px;" class="tio-save-outlined"></i></button>
                <button style="background-color: #064D69; border-color: #064D69;" type="button" id="btnNext" class="btn btn-primary" 
                data-hs-step-form-prev-options='{
                  "targetSelector": "#addTongMuc"
                }'>
                  Đăng tải<i class="tio-upload-on-cloud" style="margin-left: 1ex;"></i>
                </button>
              </div>
            </div>
          </div>
        
  
        
        <!-- End Footer -->
      </main>
    <!-- ========== END MAIN CONTENT ========== -->

    <!-- JS Global Compulsory  -->
    <script src="../../../assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../../../assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="../../../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="../../../assets/vendor/hs-navbar-vertical-aside/hs-navbar-vertical-aside.min.js"></script>
    <script src="../../../assets/vendor/hs-unfold/dist/hs-unfold.min.js"></script>
    <script src="../../../assets/vendor/hs-form-search/dist/hs-form-search.min.js"></script>
    <script src="../../../assets/vendor/select2/dist/js/select2.full.min.js"></script>
    <script src="../../../assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="../../../assets/vendor/chart.js.extensions/chartjs-extensions.js"></script>
    <script src="../../../assets/vendor/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js"></script>
    <script src="../../../assets/vendor/daterangepicker/moment.min.js"></script>
    <script src="../../../assets/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="../../../assets/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="../../../assets/vendor/datatables.net.extensions/select/select.min.js"></script>
    <script src="../../../assets/vendor/clipboard/dist/clipboard.min.js"></script>
    <script src="../../../assets/vendor/hs-step-form/dist/hs-step-form.min.js"></script>
    <script src="../../../assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="../../../assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="../../../assets/vendor/sortablejs/Sortable.min.js"></script>
    <script src="../../../assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="../../../assets/vendor/hs-file-attach/dist/hs-file-attach.min.js"></script>
    <script src="../../../assets/vendor/hs-sticky-block/dist/hs-sticky-block.min.js"></script>
    <script src="../../../assets/vendor/hs-scrollspy/dist/hs-scrollspy.min.js"></script>
    <script src="../../../assets/vendor/pwstrength-bootstrap/dist/pwstrength-bootstrap.min.js"></script>

    

    <!-- JS Fis -->
    <script src="../../../assets/js/theme.min.js"></script>

    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {

        // initialization of form search
        $('.js-form-search').each(function () {
          new HSFormSearch($(this)).init()
        });

        // initialization of select2
        $('.js-select2-custom').each(function () {
          var select2 = $.HSCore.components.HSSelect2.init($(this));
        });

        // initialization of chartjs
        Chart.plugins.unregister(ChartDataLabels);

        $('.js-chart').each(function () {
          $.HSCore.components.HSChartJS.init($(this));
        });

        var updatingChart = $.HSCore.components.HSChartJS.init($('#updatingData'));

        // Call when tab is clicked
        $('[data-toggle="chart-bar"]').click(function(e) {
          let keyDataset = $(e.currentTarget).attr('data-datasets')

         if (keyDataset === 'lastWeek') {
           updatingChart.data.labels = ["Apr 22", "Apr 23", "Apr 24", "Apr 25", "Apr 26", "Apr 27", "Apr 28", "Apr 29", "Apr 30", "Apr 31"];
           updatingChart.data.datasets = [
             {
               "data": [120, 250, 300, 200, 300, 290, 350, 100, 125, 320],
               "backgroundColor": "#1890FF",
               "hoverBackgroundColor": "#1890FF",
               "borderColor": "#1890FF"
             },
             {
               "data": [250, 130, 322, 144, 129, 300, 260, 120, 260, 245, 110],
               "backgroundColor": "#e7eaf3",
               "borderColor": "#e7eaf3"
             }
           ];
           updatingChart.update();
         } else {
           updatingChart.data.labels = ["May 1", "May 2", "May 3", "May 4", "May 5", "May 6", "May 7", "May 8", "May 9", "May 10"];
           updatingChart.data.datasets = [
             {
               "data": [200, 300, 290, 350, 150, 350, 300, 100, 125, 220],
               "backgroundColor": "#1890FF",
               "hoverBackgroundColor": "#1890FF",
               "borderColor": "#1890FF"
             },
             {
               "data": [150, 230, 382, 204, 169, 290, 300, 100, 300, 225, 120],
               "backgroundColor": "#e7eaf3",
               "borderColor": "#e7eaf3"
             }
           ]
           updatingChart.update();
         }
        })

        // initialization of bubble chartjs with Datalabels plugin
        $('.js-chart-datalabels').each(function () {
          $.HSCore.components.HSChartJS.init($(this), {
            plugins: [ChartDataLabels],
            options: {
              plugins: {
                datalabels: {
                  anchor: function(context) {
                    var value = context.dataset.data[context.dataIndex];
                    return value.r < 20 ? 'end' : 'center';
                  },
                  align: function(context) {
                    var value = context.dataset.data[context.dataIndex];
                    return value.r < 20 ? 'end' : 'center';
                  },
                  color: function(context) {
                    var value = context.dataset.data[context.dataIndex];
                    return value.r < 20 ? context.dataset.backgroundColor : context.dataset.color;
                  },
                  font: function(context) {
                    var value = context.dataset.data[context.dataIndex],
                      fontSize = 25;

                    if (value.r > 50) {
                      fontSize = 35;
                    }

                    if (value.r > 70) {
                      fontSize = 55;
                    }

                    return {
                      weight: 'lighter',
                      size: fontSize
                    };
                  },
                  offset: 2,
                  padding: 0
                }
              }
            },
          });
        });

        // initialization of daterangepicker
        $('.js-daterangepicker').daterangepicker();

        $('.js-daterangepicker-times').daterangepicker({
          timePicker: true,
          startDate: moment().startOf('hour'),
          endDate: moment().startOf('hour').add(32, 'hour'),
          locale: {
            format: 'M/DD hh:mm A'
          }
        });

        var start = moment();
        var end = moment();

        function cb(start, end) {
          $('#js-daterangepicker-predefined .js-daterangepicker-predefined-preview').html(start.format('MMM D') + ' - ' + end.format('MMM D, YYYY'));
        }

        $('#js-daterangepicker-predefined').daterangepicker({
          startDate: start,
          endDate: end,
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          }
        }, cb);

        cb(start, end);

        // initialization of datatables
        var datatable = $.HSCore.components.HSDatatables.init($('#datatable'), {
          select: {
            style: 'multi',
            selector: 'td:first-child input[type="checkbox"]',
            classMap: {
              checkAll: '#datatableCheckAll',
              counter: '#datatableCounter',
              counterInfo: '#datatableCounterInfo'
            }
          },
          language: {
            zeroRecords: '<div class="text-center p-4">' +
                '<img class="mb-3" src="./assets/svg/illustrations/sorry.svg" alt="Image Description" style="width: 7rem;">' +
                '<p class="mb-0">No data to show</p>' +
                '</div>'
          }
        });

        $('.js-datatable-filter').on('change', function() {
          var $this = $(this),
            elVal = $this.val(),
            targetColumnIndex = $this.data('target-column-index');

          datatable.column(targetColumnIndex).search(elVal).draw();
        });

        $('#datatableSearch').on('mouseup', function (e) {
          var $input = $(this),
            oldValue = $input.val();

          if (oldValue == "") return;

          setTimeout(function(){
            var newValue = $input.val();

            if (newValue == ""){
              // Gotcha
              datatable.search('').draw();
            }
          }, 1);
        });

        // initialization of clipboard
        $('.js-clipboard').each(function() {
          var clipboard = $.HSCore.components.HSClipboard.init(this);
        });
        // initialization of step form
        $('.js-step-form').each(function () {
          var stepForm = new HSStepForm($(this), {
            finish: function() {
              $("#addPlanStepFormProgress").hide();
              $("#addPlanStepFormContent").hide();
              $("#addPlanFinishBtn").show();
            }
          }).init();
        });
      });
      $('.js-sticky-block').each(function () {
          var stickyBlock = new HSStickyBlock($(this), {
            targetSelector: $('#header').hasClass('navbar-fixed') ? '#header' : null
          }).init();
        });

      var scrollspy = new HSScrollspy($('body'), {
          // !SETTING "resolve" PARAMETER AND RETURNING "resolve('completed')" IS REQUIRED
          beforeScroll: function(resolve) {
            if (window.innerWidth < 992) {
              $('#navbarVerticalNavMenu').collapse('hide').on('hidden.bs.collapse', function () {
                return resolve('completed');
              });
            } else {
              return resolve('completed');
            }
          }
        }).init();

        $('.js-pwstrength').each(function () {
          var pwstrength = $.HSCore.components.HSPWStrength.init($(this));
        });
    </script>
    <script>
      $(document).on('ready', function () {
        // initialization of flatpickr
        $('.js-flatpickr').each(function () {
          $.HSCore.components.HSFlatpickr.init($(this));
        });
      });
    </script>
    <script>
      $(document).on('ready', function () {
        // initialization of sortable
        $('.js-sortable').each(function () {
          var sortable = $.HSCore.components.HSSortable.init($(this));
        });
      });
    </script>
    <script>
      $(document).on('ready', function () {
        // initialization of form validation
        $('.js-validate').each(function() {
          $.HSCore.components.HSValidation.init($(this));
        });
      });
    </script>
    <script>
      $(document).on('ready', function () {
        // initialization of custom file
        $('.js-file-attach').each(function () {
          var customFile = new HSFileAttach($(this)).init();
        });
      });
    </script>
    <script>
      $(document).on('ready', function () {
        $.HSCore.components.HSFlatpickr.init($('#js-flatpickr-disabling-dates'), {
          disable: [
            function (date) {
              // return true to disable
              return (date.getDay() === 0 || date.getDay() === 6);
            }
          ],
        });
      });
    </script>
    <script>
      $(document).on('ready', function () {
        // initialization of scroll nav
        $('.js-scroll-nav').each(function () {
          var scrollNav = new HSScrollNav($(this)).init();
        });
      });
    </script>
    <script>
        $(document).on('ready', function () {
          // initialization of select2
          $('.js-select2-custom').each(function () {
            var select2 = $.HSCore.components.HSSelect2.init($(this));
          });
        });
      </script>
    <script>
        $(document).on('ready', function () {
        // initialization of step form
        $('.js-step-form').each(function () {
            var stepForm = new HSStepForm($(this), {
            finish: function() {
            $("#basicStepFormProgress").hide();
            $("#basicStepFormContent").hide();
            $("#addPlanFinishBtn").show();
        }
      }).init();
      });
    });
    </script>
    <script>
      $("#header").load("../../../Layout/Element/Header/HeaderEGP.html");
      $("#verticalMenu").load("../../../Layout/Element/Sidebar/Submenu.html");
    </script>
    <!-- IE Support -->
    <script>
      if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="./assets/vendor/babel-polyfill/polyfill.min.js"><\/script>');
    </script>
  </body>
</html>