
<!-- Search Form -->
<div id="searchDropdown" class="hs-unfold-content dropdown-unfold search-fullwidth d-md-none">
    <form class="input-group input-group-merge input-group-borderless">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <i class="tio-search"></i>
            </div>
        </div>

        <input class="form-control rounded-0" type="search" placeholder="Search in Fis" aria-label="Search in Fis">

        <div class="input-group-append">
            <div class="input-group-text">
                <div class="hs-unfold">
                    <a class="js-hs-unfold-invoker" href="javascript:;"
                       data-hs-unfold-options='{
                   "target": "#searchDropdown",
                   "type": "css-animation",
                   "animationIn": "fadeIn",
                   "hasOverlay": "rgba(46, 52, 81, 0.1)",
                   "closeBreakpoint": "md"
                 }'>
                        <i class="tio-clear tio-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- End Search Form -->
<!-- ========== MAIN CONTENT ========== -->
<!-- Navbar Vertical -->


    <div class="navbar-vertical-container">
        <div class="navbar-vertical-footer-offset">
            <div class="navbar-brand-wrapper justify-content-between">
                <!-- Logo -->


                <a class="navbar-brand" href="#" aria-label="Fis">
                    <img class="navbar-brand-logo" src="../../../assets/img/160x160/logo 3.svg" alt="Logo">
                    <img class="navbar-brand-logo-mini" src="../../../assets/img/160x160/logo 3.svg" alt="Logo">
                </a>

                <!-- End Logo -->
                <!-- Navbar Vertical Toggle -->
                <button type="button" class="js-navbar-vertical-aside-toggle-invoker navbar-vertical-aside-toggle btn btn-icon btn-xs btn-ghost-dark">
                    <i class="tio-clear tio-lg"></i>
                </button>
                <!-- End Navbar Vertical Toggle -->
            </div>

            <!-- Content -->
            <div class="navbar-vertical-content">
                <ul class="navbar-nav navbar-nav-lg nav-tabs py-2">
                    <!-- Dashboards -->
                    <li class="navbar-vertical-aside-has-menu badge-light">
                        <a class="js-navbar-vertical-aside-menu-link nav-link nav-link-toggle active" href="javascript:;" title="Dashboards">
                            <i class="nav-icon"><img src="../../../assets/img/160x160/icon/List title/icon/outlined/application/Vector.jpg" alt="logo"></i>
                            <span class="navbar-vertical-aside-mini-mode-hidden-elements d-block h5 text-hover-primary mb-0 text-truncate">
                                Ebidding<span class="d-block d-block font-size-sm text-body">LCNT trong phạm vi</span>
                            </span>
                        </a>

                        <ul class="js-navbar-vertical-aside-submenu nav nav-sub">
                            <li class="nav-item">
                                <a class="nav-link active" href="../../Pages/LCNT trong phạm vi/idne_chonnhathau_duanpt.html" title="LCNT trong phạm vi">
                                    <span class="nav-indicator-icon"></span>
                                    <span class="text-truncate">LCNT trong phạm vi</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="../../Pages/LCNT ngoài phạm vi/EDB_NPV.html" title="LCNT ngoài phạm vi">
                                    <span class="nav-indicator-icon"></span>
                                    <span class="text-truncate">LCNT ngoài phạm vi</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="../../Pages/Lựa chọn nhà đầu tư/EBD_LCNT_DA.html" title="Lựa chọn nhà thầu">
                                    <span class="nav-indicator-icon"></span>
                                    <span class="text-truncate">Lựa chọn nhà thầu</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- End Dashboards -->
                    <li class="nav-item active" style="height: 40px;">
                        <a class="js-nav-tooltip-link nav-link " href="../../Pages/LCNT trong phạm vi/idne_chonnhathau_duanpt.html" title="Dự án" data-placement="left">
                            <div class="icon nav-icon">
                                <img class="avatar-img" src="../../../assets/img/160x160/icon1/icon/outlined/application/Vector.svg"  style="width: 16.67px;height: 16.67px;top: 1.67px;top: 1.67px;" alt="Image Description">
                            </div>
                            <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Dự án</span>
                        </a>
                    </li>
                    <li class="nav-item " style="width: 205px;height: 40px;">
                        <a class="js-nav-tooltip-link nav-link " href="../../Pages/LCNT trong phạm vi/NhuCauMuaSam.html" title="Bảng tổng hợp nhu cầu MSTT" data-placement="left">
                            <div class="icon nav-icon">
                                <img class="avatar-img" src="../../../assets/img/160x160/icon/outlined/application/Vector.svg" style="width: 16.67px;height: 16.67px;top: 1.67px;top: 1.67px;" alt="Image Description">
                            </div>
                            <span style="width: 185px;" class="navbar-vertical-aside-mini-mode-hidden-elements">Bảng tổng hợp nhu cầu MSTT</span>
                        </a>
                    </li>
                    <li class="nav-item " style="height: 40px;">
                        <a class="js-nav-tooltip-link nav-link " href="../../Pages/LCNT trong phạm vi/KeHoach.html" title="Kế hoạch lựa chọn nhà thầu" data-placement="left">
                            <div class="icon nav-icon">
                                <img class="avatar-img" src="../../../assets/img/160x160/icon2/icon/outlined/application/Vector.svg" style="width: 16.67px;height: 16.67px;top: 1.67px;top: 1.67px;" alt="Image Description">
                            </div>
                            <span class="navbar-vertical-aside-mini-mode-hidden-elements" style="width: 165px">Kế hoạch lựa chọn nhà thầu</span>
                        </a>
                    </li>
                    <li class="nav-item " style="height: 40px;">
                        <a class="js-nav-tooltip-link nav-link " href="#" title="Lựa chọn danh sách ngắn" data-placement="left">
                            <div class="icon nav-icon">
                                <img class="avatar-img" src="../../../assets/img/160x160/icon3/icon/outlined/application/Vector.svg" style="width: 16.67px;height: 16.67px;top: 1.67px;top: 1.67px;" alt="Image Description">
                            </div>
                            <span class="navbar-vertical-aside-mini-mode-hidden-elements">Lựa chọn danh sách ngắn</span>
                        </a>
                    </li>
                    <!-- End Pages -->
                    <li class="nav-item " style="height: 40px;">
                        <a class="js-nav-tooltip-link nav-link " href="#" title="Chuẩn bị, tổ chức lựa chọn NT" data-placement="left">
                            <div class="icon nav-icon">
                                <img class="avatar-img" src="../../../assets/img/160x160/icon4/icon/outlined/application/Vector.svg" style="width: 16.67px;height: 16.67px;top: 1.67px;top: 1.67px;" alt="Image Description">
                            </div>
                            <span class="navbar-vertical-aside-mini-mode-hidden-elements" style="width: 150px;">Chuẩn bị, tổ chức lựa chọn NT</span>
                        </a>
                    </li>
                </ul>          
            </div>
            <!-- End Content -->
            <!-- Footer -->
            <div class="navbar-vertical-footer">
                <span>D - Collection © 2020.</span>
                <p style="display: inline;">Copyright by FPT Information System</p>
            </div>
            <!-- End Footer -->
        </div>
    </div>

